<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitspace.food.mapper.AccusationHistoryMapper">
    <select id="getListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(t.id)
        FROM t_accusation_history t
        WHERE 1 = 1
        <if test="phone != null "> AND t.phone = #{phone} </if>
        <if test="status != null"> AND t.status = #{status} </if>
        <if test="type != null"> AND t.type = #{type} </if>
        <if test="goodsId != null"> AND t.goodsid = #{goodsId} </if>
        <if test="startTime !=null and startTime != '' "> AND t.create_time  >= #{startTime} </if>
        <if test="endTime !=null and endTime != '' ">    AND t.create_time  &lt;=  #{endTime} </if>
    </select>

    <select id="getList" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        SELECT
            t.id,
            g.name goodsName,
            gk.public_key address,
            IFNULL(t.name,'') name,
            IFNULL(t.identity_card,'') identityCard,
            t.phone,
            t.status,
            t.type,
            t.content,
            t.create_time createTime,
            IFNULL(t.dispose_content,'') disposeContent,
            t.urlA,
            t.urlB,
            t.urlC,
            t.urlD,
            t.urlE,
            t.urlF,
            t.urlG,
            t.urlH
        FROM t_accusation_history t
        INNER JOIN t_goods g ON t.goodsid = g.id
        INNER JOIN t_goods_key gk ON gk.gid = t.goodsid
        WHERE 1 = 1
        <if test="phone != null and phone != ''"> AND t.phone = #{phone} </if>
        <if test="status != null"> AND t.status = #{status} </if>
        <if test="type != null"> AND t.type = #{type} </if>
        <if test="goodsId != null"> AND t.goodsid = #{goodsId} </if>
        <if test="startTime !=null and startTime != '' "> AND t.create_time  >= #{startTime} </if>
        <if test="endTime !=null and endTime != '' ">    AND t.create_time  &lt;=  #{endTime} </if>
        ORDER by t.create_time DESC
        LIMIT #{currentPage},#{count}
    </select>

    <update id="banchDispose" parameterType="java.util.Map">
        UPDATE t_accusation_history SET status=#{status},dispose_content = #{disposeContent} WHERE id in
        <foreach collection="list" item="id"
                 open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>