<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitspace.food.mapper.AnnouncementMapper">
    <select id="listAnnouncementDetailCount" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT
        COUNT(t.id)
        FROM t_announcement t
        WHERE 1 = 1
        <if test="title != null and title != '' ">and t.title LIKE #{title} '%'  </if>
        <if test="status != null ">and t.status = #{status} </if>
        <if test="startTime != null and startTime != '' ">and t.create_time >= #{startTime} </if>
        <if test="endTime != null and endTime != '' ">AND t.create_time  &lt;=  #{endTime} </if>
    </select>

    <select id="listAnnouncementDetail" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        select
        id,
        title,
        status,
        times_view timesView,
        create_time createTime
        from
        t_announcement
        WHERE 1 = 1
        <if test="title != null and title != '' ">and title LIKE #{title} '%'  </if>
        <if test="status != null ">and status = #{status} </if>
        <if test="startTime != null and startTime != '' ">and create_time >= #{startTime} </if>
        <if test="endTime != null and endTime != '' ">and create_time  &lt;=  #{endTime} </if>
        ORDER BY create_time DESC
        LIMIT #{startNumber}, #{endNumber}
    </select>
</mapper>